aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
base58==2.1.1
bitarray==2.5.1
charset-normalizer==2.1.0
cpnet==0.0.21
cycler==0.11.0
cytoolz==0.12.0
eth-abi==2.1.1
eth-account==0.5.8
eth-hash==0.4.0
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
fastjsonschema==2.16.1
fonttools==4.34.4
frozenlist==1.3.0
hexbytes==0.2.2
idna==3.3
importlib-resources==5.8.0
ipfshttpclient==0.8.0a2
joblib==1.1.0
jsonschema==4.7.2
kaleido==0.2.1
kiwisolver==1.4.3
llvmlite==0.38.1
lru-dict==1.1.8
matplotlib==3.5.2
multiaddr==0.0.9
multidict==6.0.2
nbformat==5.4.0
netaddr==0.8.0
networkx==2.8.4
numba==0.55.2
numpy==1.22.4
packaging==21.3
pandas==1.4.3
parsimonious==0.8.1
Pillow==9.2.0
plotly==5.9.0
protobuf==3.20.1
pycryptodome==3.15.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-louvain==0.16
pytz==2022.1
requests==2.28.1
rlp==2.0.1
scipy==1.8.1
seaborn==0.11.2
simanneal==0.5.0
tenacity==8.0.1
toolz==0.12.0
tqdm==4.64.0
urllib3==1.26.10
varint==1.0.2
web3==5.30.0
websockets==9.1
yarl==1.7.2
zipp==3.8.1
